{%extends "index.html"%}
{%block relleno%}
  <section class="container space02 nosub">
      <div class="pull-left pd02 ancho-ie">
          <a href="presidenciales.html">
            <div class="grow pic btn01"><img src="{{url_for('static', filename='images/presidenciales.jpg')}}" ></div>
            <div class="tit02"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><p>PRESIDENCIALES</p></div>
          </a>
      </div>
      <div class="pull-left pd02 oculto2 ancho-ie">
        <a href="{{url_for('actas_ubigeo')}}">
          <div class="grow pic btn04"><img src="{{url_for('static', filename='images/actas.jpg')}}" ></div>
          <div class="tit02"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><p>ACTAS</p></div>
        </a>
      </div>
      <div class="pull-left pd01 ancho-ie">
        <a href="participacion.html">
          <div class="grow pic btn05"><img src="{{url_for('static', filename='images/participacion.jpg')}}" ></div>
        <div class="tit01"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><p>PARTICIPACIÓN <br> CIUDADANA</p></div>
        </a>
      </div>
  </section>
{%endblock relleno%}